.AppBody {
  /* background-color: aquamarine; */
  margin-top: 20px;
  /* width: 100vh; */
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  
  justify-content: center;
}

.menu {
  width: 500px;
  height: 500px;
  background-color: antiquewhite;
  border: 2px solid gray;
}

.content {
 
  margin-left: 10px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;

}

.actionArrow {
  margin-left: 10px;
}
