.Comments {
  width: 90vh;
  height: 180px;
  padding: 10px;
  box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-left: 50px;
  margin-top: 10px;
  background-color: #f9f7f7;
}

.commentsTextArea {
  width: 89vh;
  height: 100px;
  resize: none;
  border-radius: 5px;
  margin-bottom: 20px;
  font-family: "Nunito", sans-serif;
  font-size: medium;
}
.commentHeader {
  font-size: large;
  font-weight: bold;
  width: 22vh;
  height: 30px;
  /* text-align: center; */
  border-radius: 10px;
  color: #112d4e;
  padding: 1px;
}

.btnPostComment {
  width: 120px;
  height: 30px;
  border-radius: 5px;
  background-color: #3f72af;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.disabledButton {
  border-radius: 5px;
  background-color: #cdcfd0;
  color: white;
  font-weight: bold;
  border: none;
  cursor: not-allowed;
  pointer-events: none;
}
.addedComments {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 10px;
  /* height: 100px; */
}

.commentsProfileIcon {
  width: 100px;
  text-align: center;
}
.profileCommentName {
  font-weight: bold;
}
.profileCommentName span {
  font-weight: lighter;
  font-size: small;
}

.profileComment {
  padding-top: 10px;
  padding-bottom: 10px;
}
.replyButtonComment {
  width: 60px;
  height: 30px;
  border-radius: 5px;
  background-color: #3f72af;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
}
.addedComment {
  border: 1px solid rgb(225, 225, 225);
  border-radius: 5px;
  width: 100%;
  padding: 5px;
}

.commentsProfileIcon img {
  width: 100%;
}

.replyAddedTextContainer {
  margin-left: 30px;
  width: 27vw;
}
