.coursesCardContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  flex-direction: column;
  color:#112D4E
}

.heading {
  display: flex;
  justify-content: center;

}

.coursesCardWrapper {
  /* width: 100px; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}


