.editModalWrapper {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(104, 102, 102, 0.5);
}

.editModalContainer {
  max-width: 600px;
  padding: 30px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 500px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-family: "Nunito", sans-serif;
}

.videoDetailsContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
