/* .footer {
  position: absolute;
  bottom: 0;

  width: 100%;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  display: flex;
  flex-wrap: row;
  gap: 200px;
  justify-content: center;
  height: 15vh;
} */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 300px;
}

body {
  margin: 0;
  padding: 0;
  padding-bottom: 150px;
  /* min-height: 220vh; */
  position: relative;
  min-height: calc(100vh - 70px)
}

.footerColOne {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.footerColTwo {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
