.Navbar {
  background-color: #F9F7F7;
  display: flex;
  flex-direction: row;
  gap: 100px;
  justify-content: space-between;
  height: 80px;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  font-size:large;
}

.NavbarColOne {
  display: flex;
  flex-direction: row;
  gap: 70px;
  align-items: start;
  padding-left: 100px;
}

.NavbarColOne div {
  cursor: pointer;
}

.NavbarColTwo div {
  cursor: pointer;
}
.NavbarColThree div {
  cursor: pointer;
}

.NavbarColTwo {
  display: flex;
  flex-direction: row;
  width: 650px;
  background-color: azure;
  border-radius: 15px;
}

.NavbarSearchBar {
  display: flex;
  flex-direction: row;
  width: 650px;
  height: 35px;
}
.NavbarSearchBar input {
  width: 100%;
  border-radius: 15px;
  padding-left: 20px;
  padding-right: 20px;
}

.NavbarColThree {
  display: flex;
  flex-direction: row;
  gap: 70px;
  align-items: end;
  padding-right: 100px;
  font-weight: bold;
  color: #112D4E;
}

.profileIcon {
  height: 50px;
  width: 50px;
  /* background-color: white; */
}

.rightSideColumn {
  display: flex;
  flex-direction: row;
  justify-content: center;
 
}

.NavbarColFour {
  display: flex;
  gap:30px;
}

.NavbarColFour button {
  cursor: pointer;
}


.navbarBtn{
  width: 100px;
  height: 30px;
  border-radius: 5px;
  background-color: #3f72af;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.navbarBtn:hover{
  
  background-color: #ece8e8;
  color: #000000;

}