.replyComment input {
  width: 22vw;
  margin-left: 50px;
  height: 3vh;
  border-radius: 5px;
  font-family: "Nunito", sans-serif;
  font-size: medium;
}

.replyComment {
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

.btnPostReply button {
  width: 40px;
  height: 30px;
  border-radius: 5px;
  background-color: #3f72af;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
  
}
.btnCancelReply button {
  width: 60px;
  height: 30px;
  border-radius: 5px;
  background-color: #c2c2c2;
  color: black;
  font-weight: bold;
  border: none;
  cursor: pointer;
 
}
.viewReplies {
  margin-left: 48px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: start;
  border-radius: 10px;
  padding: 2px;
  background-color: #e0e0e0;
  width: 80px;
  cursor: pointer;
  font-size: small;
  width:80px;
  height: 16px;
}
