@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

.signupwrapper {
  font-family: "Nunito", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  margin: 0;
}
.signupContainer {
  height: 70vh;
  border-radius: 10px;
  width: 25vw;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.signupheader {
  color: grey;
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.signupForm {
  display: flex;
  flex-direction: column;
  height: 60vh;
}

.signupformWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.formInput {
  margin-bottom: 10px;
  padding: 2px 2px 5px 2px;
  border-color: grey;
  border-radius: 5px;
  font-size: small;
  width: 353px;
  height: 20px;
}
.dpFormInput {
  margin-bottom: 10px;
  padding: 2px 2px 5px 2px;
  border-color: grey;
  border-radius: 5px;
  font-size: medium;
  padding-bottom: 1px;
  width: 360px;
  height: 30px;
}

.createAccountBtn {
  margin-top: 10px;
  background-color: rgb(27, 112, 202);
  color: white;
  width: 358px;
  height: 35px;
  font-weight: 700;
  border: none;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  cursor: pointer;
}
.signupTerms {
  margin-top: 40px;
  width: 358px;
  font-size: small;
}

.confirmPasswordErrorMsg{
    color: rgb(254, 6, 6);
    margin: 0;
    font-size: smaller;
}

.btnDisabled {
    margin-top: 10px;
    background-color: rgb(171, 203, 236);
    color: white;
    width: 358px;
    height: 35px;
    font-weight: 700;
    border: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    cursor:not-allowed;
    pointer-events: none;
  }
