/* .videoPlayer {
  margin-top: 5px; 
  margin-left: 100px;
 margin-right: 100px;
} */
.videoContainer {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5px;
  margin-left: 50px;
  margin-right: 50px;
}

.videoFrame iframe {
  /* margin-left: 100px; */
  border-radius: 5px;
  width: 65vw;
}
