.videoContainer {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5px;
  margin-left: 50px;
  margin-right: 50px;
}

.videoFrame iframe {
  /* margin-left: 100px; */
  border-radius: 5px;
  width: 65vw;
}

.videoPlayerNavigationButtons {
  height: 10vh;
  width: 65vw;
  margin-left: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.previousButton,
.nextButton {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  background-color: #3f72af;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.btnDisabledNav {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  background-color: #96b9e3;
  color: white;
  font-weight: bold;
  border: none;
  cursor: not-allowed;
  pointer-events: none;
}

.videoTitle {
  margin-top: 20px;
  margin-left: 50px;
  font-size: larger;
  font-weight: bolder;
  font-family: "Nunito", sans-serif;
}
