@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@300;400&display=swap');

.WelcomePageWrapper {
  /* background-color: aqua; */
  height: 40vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 50px;
  margin-right: 40px;
  margin-top: 20px;
}

.welcomeTextWrapper {
  width: 50%;
  font-weight: bolder;
  font-size: larger;
}
.welcomeTextWrapper h1 {
  font-family: "Nunito", sans-serif;
}

.imagesWrapper {
  /* background-color: brown; */
  width: 50%;
  overflow: hidden;
}

.imagesWrapper img {
  width: 98%;
  height: 100%;
  object-fit: cover;
}

.appNameLabel {
  color: #3F72AF
}

.landingPageParagraph {
  font-weight:light;
  font-size: large;
  color: rgb(79, 79, 80);
  font-family: "Nunito", sans-serif;
}


.welcomePageButtons {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.freeCourses {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  background-color:#112D4E;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.exploreBlog {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  background-color: #ece8e8;
  color: #000000;
  font-weight: bold;
  border: none;
  cursor: pointer;
}




